body {
  min-height: 100vh;
}

.table td,
.table th {
  vertical-align: middle;
}

.message-body {
  white-space: pre-wrap;
  line-height: 1.75;
}

.card {
  border-radius: 1rem;
}

.btn {
  border-radius: 0.7rem;
}
